<h1>Restaurants</h1>
<p>This is the date right now</p>
<small>{{date}}</small>
<p>Here is a list of my favourite restaurants</p>
 <ol>
  <li>Steve's Italian</li>
  <li>Bob's Fish & Chips</li>
  <li>Glenny's</li>
</ol> 
<a href="./about">Click here to find out more</a>