<ul>
    <li><a href="/">Home</a></li>
</ul>
<div style="background-image: url(https://www.stone-ideas.com/wordpress/wp-content/uploads/2017/02/Lithea17-1-2.jpg); background-size: 100%;">
    <article class="middlesmall" style="margin-bottom: 10%;">
        <br>
        <main>Update {{restaurant.name}}</main>
        <form action="/submit/{{restaurant.id}}" method="POST">
            <label>Name</label><br>
            <input type="text" id="name" name="name" value="{{restaurant.name}}" required><br>
            <label>Image link</label><br>
            <input type="url" id="image" name="image" value="{{restaurant.image}}" required><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </article>
</div>