<ul>
    <li><a href="/">Home</a></li>
</ul>
<div style="background-image: url(https://www.stone-ideas.com/wordpress/wp-content/uploads/2017/02/Lithea17-1-4.jpg); background-size: 100%;">
    <article class="middlesmall" style="margin-bottom: 10%;">
        <br>
        <main>Create new restaurant</main>
        <form action="/restaurants" method="POST">
            <label>Name</label><br>
            <input type="text" id="name" name="name" placeholder="Steve's Italian" required><br>
            <label>Image link</label><br>
            <input type="url" id="image" name="image" placeholder="http://image.jpeg" required><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </article>
</div>