<h1>Restaurants</h1>
<section>
    {{#each restaurants}}
        <article>
            <main>{{this.name}}</main>
            {{#each this.menus}}
            <p> - {{this.title}}</p>
            {{/each}}
            <br>
            <a href="./about/{{this.id}}"><img src={{this.image}} alt="image of restaurant"/></a>
            <br>
        </article>
    {{/each}}
</section>
<script src="../home.js"></script>