* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(216, 54, 14);
    background-color: rgb(17, 17, 14);
}
ol {
    color: rgb(17, 17, 14);
    background-color: rgb(216, 54, 14);
}
a {
    color: rgb(224, 114, 11)
}
